@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.5;
}

body {
    font-family: Montserrat, sans-serif;
}

header {
    height: 100vh;
    background-image: url(media/luna-art.jpg);
    background-size: cover;
    background-position: bottom right;
    position: sticky;
    top: 0;
}

#ham {
    width: 60px;
    height: 45px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    transform: scale(0.8);
    cursor: pointer;

}

#ham span {
    background-color: #fff;
    display: block;
    height: 9px;
    width: 100%;
    position: absolute;
    border-radius: 9px;
    transition: all 0.3s ease-out;
}

#ham span:nth-child(1) { top: 0; }
#ham span:nth-child(2) { top: 18px; }
#ham span:nth-child(3) { top: 18px; }
#ham span:nth-child(4) { top: 36px; }

#ham.x span:nth-child(1) { top: 18px; opacity: 0; }
#ham.x span:nth-child(2) { transform: rotate(45deg); }
#ham.x span:nth-child(3) { transform: rotate(-45deg); }
#ham.x span:nth-child(4) { top: 18px; opacity: 0; }

nav {
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0,0,0,0.5);
    height: 100svh;
    position: relative;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.open {
    opacity: 1;
    visibility: visible;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    display: block;
    padding: 0.5rem;
    transition: all 0.3s;
}

nav a:hover {
    transform: scale(1.2);
}

h1 {
    position: absolute;
    top: 1rem;
    left: 1rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -1px;

}

h1 span {
    font-weight: 300;
}

section {
    position: relative;
    background-color: #1a1a1a;
}

#about {
    padding: 4rem;
    color: #fff;
    text-align: center;
}

#about img {
    display: block;
    width: 240px;
    border-radius: 50%;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
}

#about p {
    font-size: 1.2rem;
    color: #aaa;
    max-width: 900px;
    margin: 0 auto;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
}

#grid img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}