@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.5;
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat, sans-serif;
}

header {
    height: 100vh;
    position: sticky;
    top: 0;
    overflow: hidden;
}

header::before {
    content: "";
    background-image: url(media/luna-art.jpg);
    background-size: cover;
    background-position: bottom right;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation-name: header;
    animation-duration: 60s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes header {
    0% {
        transform: scale3d(1, 1, 1);
        transform-origin: 50%;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
        transform-origin: 10%;
    }
    75% {
        transform: scale3d(1.2, 1.2, 1);
        transform-origin: 90%;
    }
    100% {
        transform-origin: 20%;
        transform: scale3d(1.3, 1.3, 1);
    }
}

#ham {
    width: 60px;
    height: 45px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    transform: scale(0.8);
    cursor: pointer;

}

#ham span {
    background-color: #fff;
    display: block;
    height: 9px;
    width: 100%;
    position: absolute;
    border-radius: 9px;
    transition: all 0.3s ease-out;
}

#ham span:nth-child(1) { top: 0; }
#ham span:nth-child(2) { top: 18px; }
#ham span:nth-child(3) { top: 18px; }
#ham span:nth-child(4) { top: 36px; }

#ham.x span:nth-child(1) { top: 18px; opacity: 0; }
#ham.x span:nth-child(2) { transform: rotate(45deg); }
#ham.x span:nth-child(3) { transform: rotate(-45deg); }
#ham.x span:nth-child(4) { top: 18px; opacity: 0; }

nav {
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0,0,0,0.5);
    height: 100svh;
    position: relative;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.open {
    opacity: 1;
    visibility: visible;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    display: block;
    padding: 0.5rem;
    transition: all 0.3s;
}

nav a:hover {
    transform: scale(1.2);
}

h1 {
    position: absolute;
    top: 1rem;
    left: 1rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -1px;

}

h1 span {
    font-weight: 300;
}

section {
    position: relative;
    background-color: #1a1a1a;
    padding: 4rem;
}

#about {
    color: #fff;
    text-align: center;
}

#about img {
    display: block;
    width: 240px;
    border-radius: 50%;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
}

#about p {
    font-size: 1.2rem;
    color: #aaa;
    max-width: 900px;
    margin: 0 auto;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

#grid img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#grid div:nth-child(1) {
    grid-row: 1 / 3;
}

#grid div:nth-child(4) {
    grid-row: 1 / 3;
    grid-column: 4 / 5;
}

#grid div:nth-child(5) {
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}

#grid div:nth-child(9) {
    grid-row: 4 / 6;
    grid-column: 2 / 3;
}

#grid div:nth-child(11) {
    grid-row: 4 / 6;
    grid-column: 4 / 5;
}

#grid div:nth-child(14) {
    display: none;
}

@media (max-width: 900px) {

}

@media (max-width: 600px) {
    
}

#studio {
    height: 100vh;
}

.pin {
    width: 60px;
    height: 60px;
    background-image: url(media/pin.png);
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.popup {
    font-size: 1.2rem;
    line-height: 1.5;
}

.mapboxgl-popup-close-button {
    outline: none;
}

#form {
    max-width: 600px;
    margin: 0 auto;
}

#form div {
    margin-bottom: 0.5rem;
}

label {
    cursor: pointer;
    color: #999;
    display: block;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

#email, #sender, #message {
    width: 100%; 
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.8rem 1rem;
    background-color: #222;
    border: 1px solid #454545;
    color: #fff;
    border-radius: 4px;
}

#email:focus, #sender:focus, #message:focus {
    outline: none;
    border-color: #999797;
}

#message {
    height: 10rem;
    resize: none;
}

#form button {
    font-family: inherit;
    padding: 1rem 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #454545;
    background-color: #555;
    color: #aaa;
    display: block;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 4px;
}

#form button:hover {
    transform: scale(1.2);
}

#form #btnsubmit {
    background-color: #0e7305;
}

#form div:last-child {
    display: flex;
    justify-content: end;
    gap: 1.2rem;
    margin-top: 1rem;
}

::placeholder {
    color: #3c3c3c;
}

.validate #email:invalid,
.validate #sender:invalid,
.validate #message:invalid {
    border-color: #900;
    animation-name: shake;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-duration: 100ms;
    animation-iteration-count: 6;
}

#email:valid,
#sender:valid,
#message:valid {
    background-color: #eee;
    color: #1a1a1a;
}

#response {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1a1a1a;
    display: none;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.2rem;
}

@keyframes shake {
    from {
        transform: translate(1rem, 0);
    }
    to {
        transform: translate(-1rem, 0);
    }
}